* {
    margin: 0;
    padding: 0;
    max-width: 100vw;

    font-family: "Roboto", serif;

    /*Temp*/
    border: 1px solid red;
}

::selection {
    background-color:  #FF7F2D;
}

.block {
    padding: 2%;
}

header {
    color: white;
    background-color: #141414;
}

.PArrot{
    font-size: large;
    font-weight: bold;
}

footer {
}